{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1 class="drac-heading-2xl drac-text-white">Purchase History</h1>
    <br>
    <table class="table drac-bg-black table-dark table-hover drac-text-white">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">No. of Shares</th>
                <th scope="col">Transaction Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in userTransactions %}
            <tr>
                <td>{{row[6]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[4] | usd}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
{% endblock %}
