{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1 class="drac-heading-2xl drac-text-white">Registration</h1>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat password" type="password" required>
        </div>
        <button class="drac-btn drac-bg-animated drac-btn-ghost drac-text-white drac-m-sm drac-btn-lg" type="submit">Register</button>
    </form>
{% endblock %}
